<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>English → Hindi Translator</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>🌐 English → Hindi Translator</h1>

<p class="subtitle">AI Powered Translation</p>

<form method="POST">

<input 
type="text" 
name="text" 
placeholder="Enter English sentence..."
required
>

<button type="submit">Translate</button>

</form>

{% if translation %}

<div class="result">

<h3>Hindi Translation</h3>

<p>{{translation}}</p>

</div>

{% endif %}

</div>

</body>
</html>